@import "tailwindcss";

@theme {
  --color-drillbit-orange: #F35726;
  --color-drillbit-gray: #F3F3F2;
  --color-background: #FCFCFC;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}